.settings-section {
	margin-bottom: 1em;
	margin-top: 1em;
	background: #fafafa;
	border-radius: 0.5em;
	border: 1px solid #eee;
	padding: 1em 0;

	&:last-child {
		margin-bottom: 0;
	}
}

.social-links {
	list-style-type: none;
	padding: 0;
}

.social-link {
	color: #333;
	display: inline-block;
	width: 1.5em;
	text-align: center;
	font-size: 1.25em;

	i {
		@extend .fa, .fa-globe;
	}

	&.soundcloud i {
		@extend .fa-soundcloud;
	}
	&.facebook i {
		@extend .fa-facebook;
	}
}