$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap',
		'../bower_components/Font-Awesome/scss/font-awesome',
		'settings',
		'forms',
		'signup',
		'notifications';

$soundcloudOrange: #FF5500;

.footer {
	bottom: 0;
	width: 100%;
	height: 60px;
	margin-top: 1em;
	background-color: #f5f5f5;

	p {
		margin: 20px 0;
	}
}

.tracks-list {
	padding-left: 0;
	list-style: none;
}

.tracks-list li {
	padding: 0.5em;
	margin: 0.5em 0;
	border: 1px solid #eee;
	background: #fafafa;
	cursor: pointer;
}

.tracks-list i {
	transition: all 350ms ease-in-out;
	opacity: 0;
}

.tracks-list li:hover {
	background: #A9E1FD;
	i {
		margin-right: 1em;
		opacity: 1;
	}
}

.soundcloud-button {
	background: $soundcloudOrange;
	color: #fff;
}

.main-info {
	background: transparent;
}
.main-info-block div:first-child {
	border-right: 2px solid #eee;
}

.main-header {
	text-align: center;
	color: #fff;
	background-image: url(/images/squaretiles.png);
	position: relative;
	background-size: 2.25em;
	font-size: 5em;
}
.main-header-background {
	content: '';
	background: rgba(0, 0, 0, 0.77);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.main-header-text {
	z-index: 1;
	font-size: 1em;
	position: relative;
}

.profile-picture-label {
	display: block;
}
 
.profile-picture {
	border: 2px solid #ccc;
	padding: 0.25em;
	width: 10em;
	height: 10em;
	margin-bottom: 1em;
}
.profile-picture-upload {
	cursor: pointer;
	display: inline-block;
}

.tab-content {
	border: 1px solid #ddd;
	border-top: 0;
	padding: 1em;
}

.slide-panel-container-outer {
	width: 100%;
	overflow: hidden;
}
.slide-panel-container-inner {
	width: 200%;
	transition: all 350ms ease-in-out;

	&.right {
		margin-left: -100%;
	}
}

.slide-panel {
	float: left;
	width: 50%;
}

.jumbotron-gif {
	background-image: url(http://downcloud.herokuapp.com/images/datguyfromthatbirtishshowrage.gif);
	background-repeat: no-repeat;
	background-size: 100%;
	padding-bottom: 61%;
	height: 0;
	position: relative;
}

.jumbotron-gif-text {
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	padding: 1em;
	text-align: center;
}