<div class="row">
	<div ng-if="user" class="col-sm-12">
		<img class="profile-picture" ng-src="{{ user.get('avatar_url') }}" alt="...">
		<div class="form-group">
			<label>Username</label>
			<p>{{ user.get('username') }}</p>
		</div>
		<div class="form-group">
			<label>City</label>
			<p>{{ user.get('city') }}</p>
		</div>
		<div class="form-group">
			<label>Country</label>
			<p>{{ user.get('country') }}</p>
		</div>
		<div class="form-group">
			<label>Descriptions</label>
			<p>{{ user.get('description') }}</p>
		</div>
	</div>
	<div ng-if="!user" ng-include="'partials/404.html'"></div>
</div>